.scores {
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-bottom: 1rem;
    font-size: 1rem;
}

.score {
    font-size: 1.5rem;
    padding-left: 1rem;
}

.grid {
    background-image: url("../../images/board-background.jfif");
    background-repeat: no-repeat;
    background-size: contain;
}

.cell {
    border: 1px solid var(--green);
    width: 1.2rem;
    height: 1.2rem;
}

.row {
    display: flex;
}

.bg-sizing {
    background-repeat: no-repeat;
    background-size: contain;
}

.apple {
    background-image: url("../../images/apple.png");
    
}

.grapes {
    background-image: url("../../images/grapes.png");
}

.banana {
    background-image: url("../../images/bananas.png");
}

.kiwi {
    background-image: url("../../images/kiwi.png");
}

.strawberry {
    background-image: url("../../images/strawberry.png");
}

.passionFruit {
    background-image: url("../../images/passion-fruit.png");
}

.snake {
    background-image: url("../../images/snake-skin.png");
    background-color: white;
}

.snake-head {
    background-image: url("../../images/cobra.png");
    border-radius: 0% 0% 55% 55%;
    background-color: white;

}

.rotate-left {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-up {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-right {
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}