.scores {
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-bottom: 1rem;
    font-size: 1rem;
}

.score {
    font-size: 1.5rem;
    padding-left: 1rem;
}

.cell {
    width: 1.5rem;
    height: 1.5rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row:nth-child(even) > .cell:nth-child(even), .row:nth-child(odd) > .cell:nth-child(odd){
    background-color: var(--light-green);
}
.row:nth-child(even) > .cell:nth-child(odd), .row:nth-child(odd) > .cell:nth-child(even){
    background-color: var(--dark-green);

}
.bg-sizing {
    background-repeat: no-repeat;
    background-size: contain;
}

.apple {
    background-image: url("../../images/apple.png");
    
}

.grapes {
    background-image: url("../../images/grapes.png");
}

.banana {
    background-image: url("../../images/bananas.png");
}

.kiwi {
    background-image: url("../../images/kiwi.png");
}

.strawberry {
    background-image: url("../../images/strawberry.png");
}

.passionFruit {
    background-image: url("../../images/passion-fruit.png");
}

.snake {
    background-image: url("../../images/snake-skin.png");
}

.snake-head {
    background-image: url("../../images/cobra.png");
}

.rotate-left {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-up {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-right {
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

/* mobile responsiveness */

 @media screen and (max-width: 1180px) {

    .cell {
        width: 1.4rem;
        height: 1.4rem;
    }
}

@media screen and (max-width: 780px) {
    
    .grid {
        width: 100%;
    }

    .scores {
        width: 80%
    }
}

@media screen and (max-width: 680px) {
    .cell {
        width: 1rem;
        height: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .cell {
        width: 0.8rem;
        height: 0.8rem;
    }

    .scores {
        gap: 1rem;
        font-size: 14px;
    }
}

@media screen and (max-width: 390px) {
    .cell {
        width: 0.9rem;
        height: 0.9rem;
    }

    .grid {
        transform: rotate(90deg); 
        margin: 5rem 0;
    }

    .food {
        transform: rotate(270deg); 
    }
}