@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

* {
    margin: 0;
}

.App{
    font-family: 'Salsa', cursive;
    background: var(--theme-bg);
    min-height: 100vh;
    color: var(--theme-text-color);
}

.text-center {
    text-align: center;
}

/* flex utils */

.flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* padding utils */

.p-1 {
    padding: 1rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1 { 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

/* margin utils */

.mt-1 {
    margin-top: 1rem;
}