:root {
  --overlay: #4d4d4d9a;
  --blue-btn:#237ccd;
  --orange-btn:#ff7f00;
  --white: #ffffff;
}

[data-theme="light"] {
  --theme-bg:#ffffff;
  --theme-text-color:#000000;
  --light-gray: #b4b1b1;
  --header-bg: #e7e7e7;
  --light-green:#3cdc3c;
  --dark-green:#33cc33;
}

[data-theme="dark"] {
  --theme-bg:#353535;
  --theme-text-color: #fbfbfb;
  --light-gray: #b4b1b1;
  --header-bg: #1c1c1c;
  --light-green: #879887;
  --dark-green: #7d8d7d;
}